    <div class="entry">
      <%= image_tag('Breakfast.jpg', size: '256x256', alt: 'Edit Entry') %>
      <h3><%= link_to product.name, product %></h3>
      <%= sanitize(product.description) %>
      <div class="price_line">
        <span class="price"><%= number_to_currency(product.price) %></span></br></br>
        <%= button_to 'Add to Cart', order_items_path(product_id: product), remote: true %>
      </div>
    </div>