<%= image_tag('Breakfast.jpg', alt: 'Edit Entry') %>

<p xmlns="http://www.w3.org/1999/html">
  <strong>
    <h2><%= @product.name %></h2>
  </strong>
</p>

<p class="status">
  <strong>Description</strong>
  <%= @product.description %>
</p>

<p>
<b>Categories</b>
<%= @product.categories.map { |c| c.name }.join(' ')%><br/>
</p>

<p>Rating: <%= @product.rating %><br/>
  Vote:
  <% 5.times do |i| %>
        <%= link_to "#{i+1}", vote_path(id: @product.id, weight: i+1), method: :post, class: 'glyphicon glyphicon-star' %>
  <% end %>
</p>

<p>
  <strong>Price</strong>
  <span class="price"><%= number_to_currency(@product.price) %></span>
  <%= button_to "Add to cart", order_items_path(product_id: @product), remote: true %>
</p>

<%= link_to 'Back', root_path %>