<p>
  <strong>
    <%= @product.name %>
  </strong>
</p>

<p class="status">
  <strong>Description</strong>
  <%= @product.description %>
</p>

<p>
<b>Categories</b>
<%= @product.categories.map { |c| c.name }.join(' ')%><br/>
</p>

<p>
  <strong>Price</strong>
  <span class="price"><%= number_to_currency(@product.price) %></span>
  <%= button_to "Add to cart", order_items_path(product_id: @product), remote: true %>
</p>

<%= link_to 'Back', root_path %>